<link rel="import" href="../../components/paper-input/paper-input.html">
<link rel="import" href="../../components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../components/paper-button/paper-button.html">
<link rel="import" href="../../components/paper-slider/paper-slider.html">


<polymer-element name="request-form">
    <template>
        <style>
            :host {
                position: absolute;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
            }
            .formConteiner{
                width: 80%;
                margin: auto;
            }
            paper-input, paper-slider {
                width: 100%
            }
            #paper_radio_group {

            }

            #paper_button {
                background-color: rgb(151, 182, 255);
            }

            label { color: #808080 }

        </style>
        <div class="formConteiner">

            <paper-input label="Заголовок" floatinglabel required invalid id="titleInput" class="invalid"></paper-input><br>
            <paper-radio-group selected="user" valueattr="value" id="typeGroup"><br>
                <paper-radio-button value="city" label="Для города" id="paper_radio_button1"></paper-radio-button>
                <paper-radio-button value="poor" label="Для нуждающегося" id="paper_radio_button2"></paper-radio-button>
                <paper-radio-button value="user" label="Для себя" id="paper_radio_button"></paper-radio-button>
            </paper-radio-group><br>
            <paper-input label="Описание" floatinglabel required invalid multiline rows="3" id="descriptionInput" class="invalid"></paper-input><br>
            <paper-input label="Адрес" floatinglabel id="addressInput"></paper-input><br>
            <div id="mapInputDiv" style="width: 100%; height: 400px"></div>
            <label>Кол-во помошников<paper-slider min="1" max="20" value="1" editable="true" id="helperAmountInput"></paper-slider></label><br/>
            <paper-button type="submit" raisedButton label="сохранить" id="paper_button" ></paper-button><br>
        </div>

    </template>

    <script>
        var mapInput;
        Polymer('request-form', {
            ready: function(){
//                console.log(this.$);
                var context = this.$;
                this.$.paper_button.addEventListener("click", function(){saveRequest(context)});
                var mapDiv = context.mapInputDiv;
                mapInput = new GMaps({
                    div: mapDiv,
                    lat: userPosition.coords.latitude,
                    lng: userPosition.coords.longitude,
                    width: screen.availWidth,
                    height: screen.availHeight
                });
                mapInput.addMarker({
                    lat: userPosition.coords.latitude,
                    lng: userPosition.coords.longitude,
                    draggable: true
                });

                context.addressInput.addEventListener('change', function(){
                    GMaps.geocode({
                        address: context.addressInput.inputValue,
                        callback: function(results, status) {
                            if (status == 'OK') {
                                var latlng = results[0].geometry.location;
                                mapInput.setCenter(latlng.lat(), latlng.lng());

                                mapInput.removeMarkers();
                                mapInput.addMarker({
                                    lat: latlng.lat(),
                                    lng: latlng.lng(),
                                    draggable: true
                                });
                            }
                        }
                    });
                });
            }
        });
        function saveRequest(obj){
            var tost = document.querySelector("#toast");

            for(var i in obj){
                if(obj[i].classList && obj[i].classList.contains("invalid")) {
                    tost.text= "Ошибка при заполнении формы";
                    tost.show();
                    return false;
                }
            }
            var request = createRequestFromForm(obj);
            rpc.call('requests.create', request, function(resp) {
                if(resp.error){
                    tost.text = resp.error.message;
                    tost.show();
                    return;
                }
                tost.text = "Просьба помощи успешно создана";
                window.updateRequestPage(resp.result);
                tost.show();
            });
        }

        function createRequestFromForm(context){
            var user = $.jStorage.get("user");
            var marker = mapInput.markers[0];
            var desc = context.descriptionInput.inputValue;
            return {
                user: user,
                title: context.titleInput.inputValue,
                type: context.typeGroup.selected,
                address: context.addressInput.inputValue,
                helperAmount: context.helperAmountInput.value,
                description: desc,
                state: 'open',
                point: { type: "Point", coordinates: [marker.position.k, marker.position.B] },
                coord: {
                    lat: marker.position.k,
                    lng: marker.position.B,
                    infoWindow: {
                        content: "<img class='circular' src='img/"+user.avatar+"' />" +
                                "<h2>"+context.titleInput.inputValue+"</h2>" +
                                "<p>"+desc+"</p>" +
                                "<paper-button raisedButton class='colored' label='Подробнее' onclick='openRequest(\"_id\")'></paper-button>"
                    }
                }
            };
        }

    </script>

</polymer-element>