<link rel="import" href="../../components/paper-input/paper-input.html">
<link rel="import" href="../../components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../components/paper-button/paper-button.html">
<link rel="import" href="../../components/paper-slider/paper-slider.html">


<polymer-element name="request-form">
    <template>
        <style>
            :host {
                position: absolute;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
            }
            .formConteiner{
                width: 80%;
                margin: auto;
            }
            paper-input, paper-slider {
                width: 100%
            }
            #paper_radio_group {

            }

            #paper_button {
                background-color: rgb(151, 182, 255);
            }

            label { color: #808080 }

        </style>
        <div class="formConteiner">
            <paper-input label="Заголовок" floatinglabel required invalid id="titleInput" class="invalid"></paper-input><br>
            <paper-radio-group selected="user" valueattr="value" id="typeGroup"><br>
                <paper-radio-button value="city" label="Для города" id="paper_radio_button1"></paper-radio-button>
                <paper-radio-button value="poor" label="Для нуждающегося" id="paper_radio_button2"></paper-radio-button>
                <paper-radio-button value="user" label="Для себя" id="paper_radio_button"></paper-radio-button>
            </paper-radio-group><br>
            <paper-input label="Адрес" required invalid floatinglabel id="addressInput"></paper-input><br>
            <paper-input label="Описание" floatinglabel required invalid multiline rows="3" id="descriptionInput" class="invalid"></paper-input><br>
            <label>Кол-во помошников<paper-slider min="1" max="20" value="1" editable="true" id="helperAmountInput"></paper-slider></label><br/>
            <paper-button type="submit" raisedButton label="сохранить" id="paper_button" ></paper-button><br>
        </div>

    </template>

    <script>
        Polymer('request-form', {
            ready: function(){
//                console.log(this.$);
                var obj = this.$;
                this.$.paper_button.addEventListener("click", function(){saveRequest(obj)});
            }
        });
        function saveRequest(obj){

            var tost = document.querySelector("#toast");

            for(var i in obj){
                if(obj[i].classList.contains("invalid")) {
                    tost.text= "Ошибка при заполнении формы";
                    tost.show();
                    return false;
                }
            }
            var request = createRequestFromForm(obj);
            rpc.call('requests.create', request, function(resp) {
                if(resp.error){
                    tost.text = resp.error.message + "всё хуёво";
                    tost.show();
                    return;
                }
                tost.text = "Просьба помощи успешно создана";
                window.updateRequestPage(resp.result[0]);
                tost.show();
            });
        }

        function createRequestFromForm(obj){
            return {
                user: $.jStorage.get("user"),
                title: obj.titleInput.inputValue,
                type: obj.typeGroup.selected,
                address: obj.addressInput.inputValue,
                helperAmount: obj.helperAmountInput.value,
                description: obj.descriptionInput.inputValue,
                state: 'open'
            };
        }

    </script>

</polymer-element>