<link rel="import" href="../../components/core-scroll-header-panel/core-scroll-header-panel.html">
<link rel="import" href="../../components/core-scroll-header-panel/demos/lorem-ipsum.html">
<link rel="import" href="../../components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../components/core-tooltip/core-tooltip.html">
<link rel="import" href="../../components/core-icon-button/core-icon-button.html">
<link rel="import" href="../../components/core-collapse/core-collapse.html">
<link rel="import" href="../request-description/request-description.html">
<link rel="import" href="../../components/core-icons/core-icons.html">
<link rel="import" href="../../components/paper-button/paper-button.html">
<link rel="import" href="../../components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../request-chat/request-chat.html">
<link rel="import" href="../my-card/my-card.html">


<polymer-element name="request-page" attributes="title address user description helperAmount mapUrl">
    <template>
        <link rel='stylesheet' type='text/css' href='request-page.css'>
        <core-scroll-header-panel condenses>


            <core-toolbar style="background-image: url({{mapUrl}})"  class="tall">
                <div class="middle" >
                    адрес: {{address}}<br>
                    кол-во человек: {{helperAmount}}
                </div>
                <div class="bottom title titlebg">{{title}}</div>
            </core-toolbar>

            <div class="content" id="content">
                <div class="float-left" id="float-left">
                    <my-card>
                        <request-description>
                            {{description}}<br>
                            <paper-button raisedButton id="helpButton" class='colored' label='Помочь'></paper-button>
                            <paper-button raisedButton id="unHelpButton" class='colored' label='Отменить помощь'></paper-button>
                        </request-description>
                    </my-card>
                    <my-card>
                        <h1>Помогли</h1>
                        <template repeat="{{help in helps}}">
                            <template repeat="{{user in help.users}}">
                                <core-tooltip label="{{user.name}} {{user.surname}}" position="top">
                                    <img class="circular " src="img/{{user.avatar}}">
                                </core-tooltip>
                            </template>
                        </template>

                        <h1>Помогут <paper-icon-button icon="done-all" id="acceptHelpButton"></paper-icon-button></h1>
                        <template id="helpers"  repeat="{{helper in helpers}}">
                            <core-tooltip label="{{helper.name}} {{helper.surname}}" position="top">
                                <img class="circular helpers" src="img/{{helper.avatar}}"><br>
                                <template if="{{user._id == currentUser._id}}">
                                    <paper-icon-button  class="{{display}} cancelHelperButton" icon="thumb-down" onclick="cancelHelper('{{helper._id}}')"></paper-icon-button>
                                </template>
                            </core-tooltip>
                        </template>
                        <div id="candidates">
                            <h1>Предлогают</h1>
                            <template repeat="{{candidate in candidates}}">
                                <core-tooltip label="{{candidate.name}} {{candidate.surname}}" position="top">
                                    <template if="{{user._id == currentUser._id}}">
                                        <paper-icon-button  icon="thumb-up" class="acceptUserButton" onclick="acceptCandidate('{{candidate._id}}')" ></paper-icon-button>
                                    </template>
                                    <img class="circular" src="img/{{candidate.avatar}}">
                                </core-tooltip>
                            </template>
                        </div>
                    </my-card>
                    <my-card>
                        <paper-button label="Обсуждение" id="chat_collapse_button"></paper-button>
                        <core-collapse id="chat_collapse">
                            <request-chat messages="{{messages}}" requestId="{{_id}}"></request-chat>
                        </core-collapse>
                    </my-card>

                    <my-card><request-description>{{description}}</request-description></my-card>
                    <my-card><request-description>{{description}}</request-description></my-card>
                    <my-card><request-description>{{description}}</request-description></my-card>
                    <my-card><request-description>{{description}}</request-description></my-card>
                    <my-card><request-description>{{description}}</request-description></my-card>
                </div>
            </div>
        </core-scroll-header-panel>
    </template>
    <script>
        Polymer("request-page",{
            ready: function(){
                var context = this.$;
                context.candidates.style.display = "none";
                context.unHelpButton.style.display = "none";
                context.helpButton.style.display = "none";

                (window.onresize = function(){
                    var clientWidth = context.content.clientWidth;
                    var cardWidth = 390;
                    var margin = clientWidth > cardWidth ? (clientWidth % cardWidth) / 2 : 2;
                    context["float-left"].style.marginLeft = margin.toFixed() + "px";

                })();

                context.chat_collapse_button.addEventListener('click', function(){ context.chat_collapse.toggle(); });
            },
            userChanged:function(old,user) {
                var toast = document.querySelector("#toast");
                var context = this.$;
                var pageRequest = this;
                var request_id = this._id;
                if($.jStorage.get("user") != null){
                    var usr = $.jStorage.get("user");
                    delete usr.authKey;
                    if(inArray(pageRequest.helpers,usr))
                        return;

                    if(pageRequest.user._id == $.jStorage.get("user")._id) {
                        context.candidates.style.display = "block";
                        context.acceptHelpButton.style.display = "inline-block";
                    } else if(!inArray(pageRequest.candidates,usr)) {
                        context.helpButton.style.display = "block";
                    } else {
                        context.unHelpButton.style.display = "block";
                    }

                    context.helpButton.addEventListener('click', function(){
                        //TODO change button state and reload request elements
                        rpc.call('requests.addCandidate', $.jStorage.get("user"),request_id, function (resp){
                            if(resp.error){
                                toast.text= resp.error.message;
                                toast.show();
                                return;
                            }
                            toast.text= "Помощь принята!";
                            toast.show();
                            context.helpButton.style.display = "none";
                            context.unHelpButton.style.display = "block";
                        });
                    });

                    context.unHelpButton.addEventListener('click', function () {
                        rpc.call('requests.removeCandidate', $.jStorage.get("user"), request_id, function (resp) {
                            if (resp.error) {
                                toast.text = resp.error.message;
                                toast.show();
                            } else {
                                toast.text = "Отказ Принят!";
                                toast.show();
                                context.helpButton.style.display = "block";
                                context.unHelpButton.style.display = "none";
                            }
                        });

                    });
                }else{
                    context.helpButton.style.display = "none";
                }
            },
            currentUser: $.jStorage.get("user")
        });

        function acceptCandidate(candidate_id){
            var toast = document.querySelector("#toast");
            var rp = document.querySelector("request-page");
            for(el in rp.candidates)
                if(rp.candidates[el]._id==candidate_id)
                    var candidate = rp.candidates[el];
            rpc.call('requests.acceptCandidate', rp._id, candidate,  function (resp) {
                if (resp.error) {
                    toast.text = resp.error.message;
                    toast.show();
                    return;
                }
                toast.text = "Кандидат принят";
                toast.show();
                rp.candidates = resp.result.candidates;
                rp.helpers  = resp.result.helpers;
            });
        }
        function cancelHelper(helper_id){
            var toast = document.querySelector("#toast");
            var rp = document.querySelector("request-page");
            for(el in rp.helpers)
                if(rp.helpers[el]._id==helper_id)
                    var candidate = rp.helpers[el];
            rpc.call('requests.cancelHelper', rp._id, candidate,  function (resp) {
                if (resp.error) {
                    toast.text = resp.error.message;
                    toast.show();
                    return;
                }
                toast.text = "Помошник откланен";
                toast.show();
                rp.candidates = resp.result.candidates;
                rp.helpers  = resp.result.helpers;
            });
        }
        function inArray(arr,b){
            for(var el in arr){
                if(JSON.stringify(arr[el]) === JSON.stringify(b)) return true;
            }
            return false;
        }
    </script>
</polymer-element>
