<link rel="import" href="../../components/core-scroll-header-panel/core-scroll-header-panel.html">
<link rel="import" href="../../components/core-scroll-header-panel/demos/lorem-ipsum.html">
<link rel="import" href="../../components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../components/core-tooltip/core-tooltip.html">
<link rel="import" href="../../components/core-icon-button/core-icon-button.html">
<link rel="import" href="../../components/core-collapse/core-collapse.html">
<link rel="import" href="../request-description/request-description.html">
<link rel="import" href="../../components/core-icons/core-icons.html">
<link rel="import" href="../../components/paper-button/paper-button.html">
<link rel="import" href="../../components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../request-chat/request-chat.html">
<link rel="import" href="../my-card/my-card.html">
<script src="request-page.js"></script>

<polymer-element name="request-page" attributes="title address user description helperAmount mapUrl">
    <template>
        <link rel='stylesheet' type='text/css' href='request-page.css'>
        <core-scroll-header-panel condenses>


            <core-toolbar style="background-image: url({{mapUrl}})"  class="tall">
                <div class="middle" >
                    адрес: {{address}}<br>
                    кол-во человек: {{helperAmount}}
                </div>
                <div class="bottom title titlebg">{{title}}</div>
            </core-toolbar>

            <div class="content" id="content">
                <div class="float-left" id="float-left">
                    <my-card>
                        <request-description>
                            {{description}}<br>
                            <paper-button raisedButton id="helpButton" class='colored' label='Помочь'></paper-button>
                            <paper-button raisedButton id="unHelpButton" class='colored' label='Отменить помощь'></paper-button>
                        </request-description>
                    </my-card>
                    <my-card>
                        <h1>Помогли</h1>
                        <template repeat="{{help in helps}}">
                            <template repeat="{{user in help.users}}">
                                <core-tooltip label="{{user.name}} {{user.surname}}" position="top">
                                    <img class="circular " src="img/{{user.avatar}}">
                                </core-tooltip>
                            </template>
                        </template>

                        <h1>Помогут <paper-icon-button icon="done-all" id="acceptAllHelpersButton"></paper-icon-button></h1>
                        <template id="helpers"  repeat="{{helper in helpers}}">
                            <core-tooltip label="{{helper.name}} {{helper.surname}}" position="top">
                                <img class="circular helpers" src="img/{{helper.avatar}}"><br>
                                <template if="{{user._id == currentUser._id}}">
                                    <paper-icon-button  class="{{display}} cancelHelperButton" icon="thumb-down" onclick="cancelHelper('{{helper._id}}')"></paper-icon-button>
                                </template>
                            </core-tooltip>
                        </template>
                        <div id="candidates">
                            <h1>Предлогают</h1>
                            <template repeat="{{candidate in candidates}}">
                                <core-tooltip style="width: 66px;" label="{{candidate.name}} {{candidate.surname}}" position="top">
                                    <template if="{{user._id == currentUser._id}}">
                                        <paper-icon-button  icon="thumb-up" class="acceptUserButton" onclick="acceptCandidate('{{candidate._id}}')" ></paper-icon-button>
                                    </template>
                                    <img class="circular" src="img/{{candidate.avatar}}">
                                </core-tooltip>
                            </template>
                        </div>
                    </my-card>
                    <my-card>
                        <paper-button label="Обсуждение" id="chat_collapse_button"></paper-button>
                        <core-collapse id="chat_collapse">
                            <request-chat messages="{{messages}}" requestId="{{_id}}"></request-chat>
                        </core-collapse>
                    </my-card>

                    <my-card><request-description>{{description}}</request-description></my-card>
                    <my-card><request-description>{{description}}</request-description></my-card>
                    <my-card><request-description>{{description}}</request-description></my-card>
                    <my-card><request-description>{{description}}</request-description></my-card>
                    <my-card><request-description>{{description}}</request-description></my-card>
                </div>
            </div>
        </core-scroll-header-panel>
    </template>

</polymer-element>
